:root{
    --fontFam: 'Exo 2', sans-serif;
    --primary: #495464;
    --secondary: #BBBFCA;
}

body{
    background-color: var(--primary);
    margin-top: 10vh;
    


}

.card {
    background-color: #F4F4F2; 
    margin: auto;
}
/*.appContainer {
    background-color: #F4F4F2;
    width: 70%;
    margin: auto;
    padding: 10px;
    border: 5px solid #040D12;
    border-radius: 5px;
    display:block ; 
    justify-content: center;
    font-family: var(--fontFam);

}*/

.appContainer h1 {
    font-size: 30px;
    font-family: var(--fontFam);
    border-bottom: 1px solid var(--primary) ;
}

input {
    line-height: 1.5em;
    
}
#quiz {
    /*padding: 5px 15px;*/
    display: none;
}

.ansBtn {
background-color: #E8E8E8;
color: #000;  
display: block;  
margin-top: 5px ;
width: 100%;
text-align: left;
border: 1px solid var(--primary);
border-radius: 40px;
font-size: 14px;
line-height: 2;
cursor: pointer;
transition-duration: .6s;
padding-left: 15px;
}

.ansBtn:hover:not([disabled]) {
background-color: var(--secondary);
color: white;
}

#startBtn, #nextBtn, #scoresBtn {
    margin-top: 20px;
    background-color: var(--secondary);
    font-size: 14px;
    line-height: 2;
    border: 1px solid var(--primary);
    border-radius: 4px;
    
    padding: 5px 15px;
    /*justify-content: right;*/

}

#nextBtn, #scoreBtn{
    display: none;
}

.correct {
    background-color: #6b9c7b;

}

.wrong {
 background-color: #9c6b6b;
}