:root{
 --font: 'Exo 2', sans-serif;
 --dark: #2c3638;
 --light: #c9c9c7;
}

body{
    font-family: var(--font);
    background-color: var(--dark);
    color: var(--light);
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
section{
    height: 70 vh;
}
.container {
    
    justify-content: center;
    background-color: var(--light);
    color: var(--dark);
    border: 2px solid #000;
    border-radius: 4px;
    padding: 15px;
    margin: 5vh 10vw;
 
}
.answers{
    padding: 5px 0px 10px 0px;
}

.answerBtn{
    display: inline-flex;
    width: 80%;
}
.nextBtn {
    width: 20%;
}
footer {
    justify-content: last baseline;
}